<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<system.serviceModel>
		<client>	  <!--Adresa servisa, Korišćeni protokol za komunikaciju, Interfejs (ugovor) koji klijent koristi-->
			<endpoint address="net.tcp://localhost:8080/DERService"
					  binding="netTcpBinding"						 
					  contract="Common.Interfaces.IDERService" />
		</client>
	</system.serviceModel>
</configuration>